In [1]:
import pandas as pd

Criando um DataFrame a partir de um dicionário

In [2]:
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [23, 34, 45],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo horizonte']
}

In [4]:
df = pd.DataFrame(dados)
df

     Nome  Idade          Cidade
0     Ana     23       São Paulo
1   Bruno     34  Rio de Janeiro
2  Carlos     45  Belo horizonte

Criando um DataFrame a partir de uma lista de listas

In [5]:
dados = [
    ['Ana', 23, 'São Paulo'],
    ['Bruno', 34, 'Rio de Janeiro'],
    ['Carlos', 45, 'Belo Horizonte']
    
]

In [6]:
df = pd.DataFrame(dados)
df

        0   1               2
0     Ana  23       São Paulo
1   Bruno  34  Rio de Janeiro
2  Carlos  45  Belo Horizonte

Nesse caso é preciso fornecer os nomes das colunas separadamente

In [7]:
colunas = ['Nome', 'Idade', 'Estado']
df = pd.DataFrame(dados, columns=colunas)
df

     Nome  Idade          Estado
0     Ana     23       São Paulo
1   Bruno     34  Rio de Janeiro
2  Carlos     45  Belo Horizonte

Criando um Dataframe a partir de uma lista de dicionários

In [8]:
dados = [
    {'Nome':'Ana', 'Idade': 23, 'Estado': 'São Paulo'},
    {'Nome':'Bruno', 'Idade': 34, 'Estado': 'Rio de Janeiro'},
    {'Nome':'Carlos', 'Idade': 45, 'Estado': 'Belo Horizonte'}
]

In [10]:
df = pd.DataFrame(dados)
df

     Nome  Idade          Estado
0     Ana     23       São Paulo
1   Bruno     34  Rio de Janeiro
2  Carlos     45  Belo Horizonte

Criando um DataFrame vazio e adicionando colunas depois

In [11]:
df = pd.DataFrame(columns=['Nome', 'Idade', 'Estado'])
df

Empty DataFrame
Columns: [Nome, Idade, Estado]
Index: []

In [12]:
df.loc[0] =['Ana', 23, 'São Paulo']

In [13]:
df

  Nome  Idade     Estado
0  Ana     23  São Paulo

In [14]:
df.loc[1] = ['Bruno', 34, 'Rio de Janeiro']

In [15]:
df

    Nome  Idade          Estado
0    Ana     23       São Paulo
1  Bruno     34  Rio de Janeiro

Series

Criando uma Series a partir de uma lista

In [16]:
dados = [10, 20, 30, 40, 50, 60]
s = pd.Series(dados)
s

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

Criando uma Series a partir de um dicionário

In [17]:
dados = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
s = pd.Series(dados)
s

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

Criando uma Series com indices personalizados

In [18]:
dados = [10, 20, 30, 40, 50]
indice = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(dados, index=indice)
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

Criando uma Series com valor constante

In [19]:
s = pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])
s

a    5
b    5
c    5
d    5
e    5
dtype: int64

Acessando dados em uma Series

É possível acessar os dados de uma Series referenciando o indice ou o rótulo

In [20]:
print(s[0])
print(s['a'])

5
5

C:\Users\silvaf12\AppData\Local\Temp\ipykernel_21628\3479850530.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [21]:
url = 'https://raw.githubusercontent.com/stoltzmaniac/wine-reviews-kaggle/master/winemag-data_first150k.csv'
df = pd.read_csv(url)
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [22]:
df = pd.read_csv(url, index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude